<div class="transaction-form-container">
    <h2>Register Transaction</h2>
    <form (ngSubmit)="submitForm()" #transactionForm="ngForm" class="transaction-form">
      <div class="transaction-form__group">
        <label for="accountNumber" class="transaction-form__label">Account Number</label>
        <input type="text" id="accountNumber" name="accountNumber" class="transaction-form__input" required
          [(ngModel)]="transactionData.accountNumber" #accountNumberInput="ngModel" [readonly]="true">
        @if (accountNumberInput.invalid && (accountNumberInput.dirty || accountNumberInput.touched)) {
        <div class="transaction-form__error">
          @if (accountNumberInput.errors?.['required']) {
          <div>Account number is required.</div>
          }
        </div>
        }
      </div>
      <div class="transaction-form__group">
        <label for="amount" class="transaction-form__label">Amount</label>
        <input type="number" id="amount" name="amount" class="transaction-form__input" required
          [(ngModel)]="transactionData.amount" #amountInput="ngModel">
        @if (amountInput.invalid && (amountInput.dirty || amountInput.touched)) {
        <div class="transaction-form__error">
          @if (amountInput.errors?.['required']) {
          <div>Amount is required.</div>
          }
        </div>
        }
      </div>
  
      <div class="transaction-form__group">
        <label for="transactionType" class="transaction-form__label">Transaction Type</label>
        <select id="transactionType" name="transactionType" class="transaction-form__input" required
          [(ngModel)]="transactionData.transactionType" #transactionTypeInput="ngModel" (change)="calculateTransactionCost()">
          <option value="" disabled selected>Select type</option>
  
          @for (option of transactionOptions; track option.value) {
            <option [value]="option.value">{{ option.label }}</option>
         }
  
        </select>
        @if(transactionTypeInput.invalid && (transactionTypeInput.dirty || transactionTypeInput.touched)) {
        <div class="transaction-form__error">
          @if (transactionTypeInput.errors?.['required']) {
          <div>Transaction type is required.</div>
          }
        </div>
        }
      </div>
      @if (errorMessage) {
      <div class="auth-form__message auth-form__message--error">
        {{ errorMessage }}
      </div>
      }
      <button type="submit" class="transaction-form__button" [disabled]="transactionForm.invalid">Create transaction</button>
    </form>
    @if (showConfirmationDialog) {
      <div class="modal-overlay">
          <div class="modal">
               <p class="modal-title">Do you want to confirm this transaction?</p>
               <p class="modal-text">This operation cannot be undone.</p>
               <div class="modal-actions">
                   <button (click)="confirmTransaction(false)" class="cancel-button">Cancel</button>
                   <button (click)="confirmTransaction(true)" class="confirm-button">Confirm Transaction</button>
              </div>
          </div>
      </div>
    }
  </div>
